body {
  background: linear-gradient(
    90deg,
    rgb(65, 119, 229) 0%,
    rgb(139, 102, 241) 100%
  );
}
h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 50px;
  padding: 5px;
}
header,
section {
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-family: "Bungee", cursive;
}
button {
  padding: 10px 20px;
  margin: 20px;
  box-shadow: 5px 3px 10px #ffffff;
  font-size: 18px;
  font-family: "Bungee", cursive;
  background-color: rgb(249, 244, 255);
  border-radius: 10px;
  color: #4e3597;
}
button:hover {
  color: #dd84f2;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 3px 10px #dd84f2;
}
.playerX {
  display: inline;
  text-align: left;
  color: #ff00ff;
  text-shadow: none;
}
.playerO {
  display: inline;
  text-align: right;
  color: #eff871;
  text-shadow: none;
}
.playerTurn {
  display: inline-block;
  text-align: center;
  margin: 0 45px;
  font-size: 50px;
}
.item-x {
  color: #ff00ff;
}
.item-o {
  color: #eff871;
}
.game-board {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  justify-content: center;
  padding: 25px;
}
.box {
  border: 2px solid #fff5f5;
  transition: ease-in-out 250ms;
}
.box:hover {
  cursor: pointer;
  background-color: rgb(242, 228, 245);
  transform: scale(1.02);
}
.box-x {
  text-align: center;
  background-color: #ff00ff;
  transition: ease-in-out 100ms;
}
.box-o {
  text-align: center;
  background-color: #eff871;
  transition: ease-in-out 100ms;
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}
.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7) {
  border-left: none;
}
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}
.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  border-right: none;
}

@media (max-width: 600px) {
  header,
  section {
    font-size: 18px;
    padding: 20px 0 40px 0;
  }
  button {
    padding: 5px 10px;
    margin: 35px 35px;
    font-size: 16px;
  }
  .game-board {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    padding: 7px;
  }
  .playerTurn {
    font-size: 18px;
  }
}
.confetti {
  display: none;
  width: 15px;
  height: 15px;
  background-color: #77f24e;
  position: absolute;
  left: 50%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}
.confetti:nth-child(1) {
  background-color: #77f24e;
  left: 10%;
  animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #00feff;
  left: 20%;
  animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #dff600;
  left: 30%;
  animation-delay: -0.5s;
}
.confetti:nth-child(4) {
  background-color: #77f24e;
  left: 40%;
  animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #df00fe;
  left: 50%;
  animation-delay: -3s;
}
.confetti:nth-child(6) {
  background-color: #dff600;
  left: 60%;
  animation-delay: -5s;
}
.confetti:nth-child(7) {
  background-color: #77f24e;
  left: 70%;
  animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #df00fe;
  left: 80%;
  animation-delay: -1.5s;
}
.confetti:nth-child(9) {
  background-color: #00feff;
  left: 90%;
  animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #77f24e;
  left: 100%;
  animation-delay: -2.5s;
}
@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

.show-confetti .confetti {
  display: block;
}
